*.pyc
.DS_Store
data
wallpapers
floors
tiles
*.pickle
*.txt
runs
*.html
wallpapers_new
**/convnets-keras
**/tiefvision
**/deep-learning-models
*.h5
preview
wallpapers_processed
test_preprocessing.py
test
floors_processed
pseudocode_nestedfor.py
tiles_processed
wallpapers_small