 {% extends "main.html" %}

{% block content %}
<div class="row">
<button type="button" class="btn btn-primary" ng-click="save()">Save annotations</button>
</div>
 {% for row in all_images -%}
<div class="row">
    <div class="col-lg-12">
     {% for img in row -%}
            <img src="{{img.src}}" alt="{{img.score}}" height="100" width="100">
            <button type="button" class="btn btn-secondary" ng-click="row_annotation({{img.id}}, 'neutral', '{{img.src | e}}')">Neutral</button>
            <button type="button" class="btn btn-success" ng-click="row_annotation({{img.id}}, 'positive', '{{img.src | e}}')">H+</button>
            <button type="button" class="btn btn-danger" ng-click="row_annotation({{img.id}}, 'negative', '{{img.src | e}}')">H-</button>
        {%- endfor %}
    </div>
</div>
{%- endfor %}
{% endblock %}
